*{
    margin: 0;
    padding: 0;
    font-family: poppins,sans-serif;
    box-sizing: border-box;
}
#header{
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}
.container{
    margin-left: 100px;
    margin-right: 100px;
}
.logo{
    width: 100px;
    margin-top: 20px;
}
.header-text{
    max-width: 400px;
    margin-top: 130px;
}
.header-text h1{
    font-size: 30px;
}
.header-text p{
    color: #777;
    font-size: 15px;
    margin: 12px;
}
.square{
    height: 15px;
    width: 15px;
    display: inline-block;
    background: #f67c92;
    margin: 15px 0;
}
.common-btn{
    outline: none;
    background: transparent;
    border: 2px solid #f67c92;
    padding: 15px 34px;
    font-weight: bold;
    cursor: pointer;
}
.header-text button{
    margin-top: 10px;
    margin-bottom: 60px;
}
.line-1{
    width: 15px;
    height: 15px;
    background:#f67c92;
    display: inline-block;
}
.line-2{
    width: 80px;
    height: 1px;
    background:#f67c92;
    display: inline-block;
}
.line-3{
    width: 60px;
    height: 1px;
    background:#f67c92;
    display: inline-block;
}
.line{
    line-height: 6px;
}
#navLinks{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #f67c92;
    z-index: 2;
    transition: .5s;
}
#navLinks ul{
    margin: 10px;
}
#navLinks ul li{
    list-style: none;
    margin: 50px 20px;
}
#navLinks ul li a{
    text-decoration: none;
    color: #fff;
} 
#menuBtn{
    width: 40px;
    position: fixed;
    right: 60px;
    top: 30px;
    z-index: 2;
    cursor: pointer;
}
/*---about---*/
#about{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 100%;
}
.about-right-col{
    flex-basis: 50%;
    text-align: right;
}
.about-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}
.about-text h2{
    margin: 50px 0 10px;
    font-size: 26px;
    font-style: italic;
}
.about-text h3{
    margin: 50px 0 10px;
    font-size: 19px;
    font-style: italic;
    color: #777;
}
/*Features*/
#features{
    padding-top: 50px;
    padding-bottom: 50px;
}
.feature-row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.feature-col{
    flex-basis: 25%;
    text-align: center;
}
.feature-col img{
    width: 100px;
}
.feature-col h4{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}
.feature-btn{
    margin: 70px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.feature-btn .line{
    text-align: right;
    display: inline-block;
    margin-right: 25px;
}
/*small screen*/
@media only screen and (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
    }
    .logo{
        margin-top: 10px;
    }
    .header-text{
        font-size: 25px;
        max-width: 250px;
        margin-left:-50px;
        margin-top: 30px;
    }
    .header-text p{
        font-size: 20px;
        margin-top: 10px;
        max-width: 180px;
        margin-left: -20px;
    }
    /*about*/
    #about{
        display: flex;
        column-count: 2;
    }
    .about-left-col{
        width: 50%;
        margin-top: -500px;
    }
    .about-right-col{
        width: 50%;
        text-align: right;
    }
    .about-text{
        max-width: 500px;
        margin-right: 100px;
        display: inline-block;
    }
    .about-text h1{
        margin-top: 100px;
    }
    .about-text h2{
        margin: 50px 0 10px;
        font-size: 15px;
        font-style: italic;
    }
    .about-text h3{
        margin: 50px 0 10px;
        font-size: 12px;
        font-style: italic;
        color: #777;
    }
    .about-text p{
        font-size: 16px;
    }
    /*feature*/
    .feature-row{
        width: 100%;
    }
    .feature-col{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .feature-col div{
        flex-basis: 30%;
    }
    .feature-col img{
        width: 100px;  
    }
    .feature-col h4{
        margin-top: 10px;
        font-size: 15px;
    }
}