*{
    margin: 0;
    padding: 0;
    font-family: poppins,sans-serif;
    box-sizing: border-box;
}
#header{
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}
.container{
    margin-left: 100px;
    margin-right: 100px;
}
.logo{
    width: 100px;
    margin-top: 20px;
}
.header-text{
    max-width: 400px;
    margin-top: 130px;
}
.header-text h1{
    font-size: 30px;
}
.header-text p{
    color: #777;
    font-size: 15px;
    margin: 12px;
}
.square{
    height: 15px;
    width: 15px;
    display: inline-block;
    background: #f67c92;
    margin: 15px 0;
}
.common-btn{
    outline: none;
    background: transparent;
    border: 2px solid #f67c92;
    padding: 15px 34px;
    font-weight: bold;
    cursor: pointer;
}
.header-text button{
    margin-top: 10px;
    margin-bottom: 60px;
}
.line-1{
    width: 15px;
    height: 15px;
    background:#f67c92;
    display: inline-block;
}
.line-2{
    width: 80px;
    height: 1px;
    background:#f67c92;
    display: inline-block;
}
.line-3{
    width: 60px;
    height: 1px;
    background:#f67c92;
    display: inline-block;
}
.line{
    line-height: 6px;
}
#navLinks{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #f67c92;
    z-index: 2;
    transition: .5s;
}
#navLinks ul{
    margin: 10px;
}
#navLinks ul li{
    list-style: none;
    margin: 50px 20px;
}
#navLinks ul li a{
    text-decoration: none;
    color: #fff;
} 
#menuBtn{
    width: 40px;
    position: fixed;
    right: 60px;
    top: 30px;
    z-index: 2;
    cursor: pointer;
}
/*---about---*/
#about, #offer{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 100%;
}
.about-right-col{
    flex-basis: 50%;
    text-align: right;
}
.about-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}
.about-text h2{
    margin: 50px 0 10px;
    font-size: 26px;
    font-style: italic;
}
.about-text h3{
    margin: 50px 0 10px;
    font-size: 19px;
    font-style: italic;
    color: #777;
}
/*Features*/
#features{
    padding-top: 50px;
    padding-bottom: 50px;
}
.feature-row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.feature-col{
    flex-basis: 25%;
    text-align: center;
}
.feature-col img{
    width: 100px;
}
.feature-col h4{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}
.feature-btn{
    margin: 70px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.feature-btn .line{
    text-align: right;
    display: inline-block;
    margin-right: 25px;
}
/*course*/
#course{
    padding: 100px 0;
}
.course-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.course-right-col{
    flex-basis: 50%;
}
.course-left-col{
    flex-basis: 50%;
}
.course-right-col img{
    width: 100%;
}
.course-text{
    max-width: 370px;
}
.course-text p{
    margin: 20px 0;


/*offer*/}
#offer button{
    margin: 30px 0;
}

/*contact*/
.contact-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.contact-left-col, .contact-right-col{
    flex-basis: 50%;
}
.contact-right-col img{
    width: 100%;
}
form{
    margin: 30px 0;
    max-width: 250px;
}
form label{
    margin: 50px 0;
}

form input{
    width: 100%;
    margin: 15px 0;
    padding: 12px 10px;
    outline: none;
    border: 2px solid #f67c92;
    box-sizing: border-box;
    box-shadow: none;
}
.btn-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-box button{
    flex-basis: 46%;
    padding: 18px 0;
}
/*footer*/
#footer{
    padding: 50px 0px 30px;
}
hr{
    width: 100%;
    border:0;
    border-top: 2px solid #f67c92;
}
.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left-col{
    flex-basis: 50%;
    margin-top: 40px;
}
.footer-right-col{
    flex-basis: 35%;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.link-title h4{
    color: #fab3c4;
    margin-bottom: 10px;
}
.link-title small{
    color: #777;
    font-size: 15px;
}
.footer-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-logo img{
    width: 100px;
}
.footer-logo button{
    padding: 12px 30px;/*first is top bottom the right left for 2nd number*/
    margin-top: 18px;
    font-size: 12px;
}
.copyright-text, .footer-logo{
    flex-basis: 40%;
}
/*social media icons*/
.social-icons{
    position: fixed;
    top: 50%;
    left: 0;
    width: 50px;
    transform: translateY(-50%);
    z-index: 0;
}
.social-icons img{
    display: block;
    width: 20px;
    cursor: pointer;
    margin: 20px auto 10px;
}
/*small screen*/
@media only screen and (max-width: 768px){
    #header{
        background-image: none;
    }
    .container{
        margin-left: 50px;
        margin-right: 50px;
    }
    .logo{
        width: 70px;
        margin-top: 10px;
    }
    .header-text{
        margin-left: 50px;
        margin-top: 90px;
    }
    .header-text h1{
        font-size: 25px;
    }
    #menuBtn{
        width: 35px;
        right: 55px;
    }
    .common-btn{
        padding: 10px 16px;
    }

    /*about*/
    .about-left-col{
        flex-basis: 100%;
    }
    .about-right-col{
        flex-basis: 100%;
    }
    .about-text{
        margin: 50px 50px 0;
        display: inline-block;
    }
    .about-text h2{
        font-size: 18px;
    }
    .about-text h3{
        font-size: 11px;
    }
    .about-text p{
        font-size: 15px;
    }
    /*feature*/
    .feature-col{
        flex-basis: 100%;
        margin-bottom: 18px; 
    }
    /*courses*/
    .course-left-col{
        flex-basis: 100%;
    }
    .course-right-col{
        flex-basis: 100%;
        margin-top: 50px;
    }
    /*contact*/
    .contact-left-col, .contact-right-col{
        flex-basis: 100%;
    }
    .contact-right-col{
        margin-top: 60px;
    }
    /*footer*/
    .footer-left-col, .footer-right-col{
        flex-basis: 100%;
    }
    .link-title{
        flex-basis: 50%;
        margin-bottom: 20px;
    }
    /*social media icons*/
    .social-icons img{
        width: 15px;
        margin: 15px auto;
    }
}
