*{
    margin: 0;
    padding: 0;
    font-family: poppins,sans-serif;
    box-sizing: border-box;
}
#header{
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}
.container{
    margin-left: 100px;
    margin-right: 100px;
}
.logo{
    width: 100px;
    margin-top: 20px;
}
.header-text{
    max-width: 400px;
    margin-top: 130px;
}
.header-text h1{
    font-size: 30px;
}
.header-text p{
    color: #777;
    font-size: 15px;
    margin: 12px;
}
.square{
    height: 15px;
    width: 15px;
    display: inline-block;
    background: #f67c92;
    margin: 15px 0;
}
.common-btn{
    outline: none;
    background: transparent;
    border: 2px solid #f67c92;
    padding: 15px 34px;
    font-weight: bold;
    cursor: pointer;
}
.header-text button{
    margin-top: 10px;
    margin-bottom: 60px;
}
.line-1{
    width: 15px;
    height: 15px;
    background:#f67c92;
    display: inline-block;
}
.line-2{
    width: 80px;
    height: 1px;
    background:#f67c92;
    display: inline-block;
}
.line-3{
    width: 60px;
    height: 1px;
    background:#f67c92;
    display: inline-block;
}
.line{
    line-height: 6px;
}
#navLinks{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #f67c92;
    z-index: 2;
    transition: .5s;
}
#navLinks ul{
    margin: 10px;
}
#navLinks ul li{
    list-style: none;
    margin: 50px 20px;
}
#navLinks ul li a{
    text-decoration: none;
    color: #fff;
} 
#menuBtn{
    width: 40px;
    position: fixed;
    right: 60px;
    top: 30px;
    z-index: 2;
    cursor: pointer;
}
/*---about---*/
#about{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 100%;
}
.about-right-col{
    flex-basis: 50%;
}